<!DOCTYPE html>
<html>
  <head>
    <title>Barber Shop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="b-ground-login">
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
